* {
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.navbar {
  height: 50px;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: rgb(142, 142, 202);
  color: #fff;
  font-weight: bold;
}

.logo-txt a{
  color: #fff;
  text-decoration: none;
}

.back-btn {
  font-size: 1.3rem;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.src-logo {
  color: #fff;
  font-size: 1.3rem;
}

header {
  height: 12rem;
  background-color: rgb(66, 191, 240);
  justify-content: space-around;
  color: #fff;
}

.africa-img {
  font-size: 10em;
  color: rgb(65, 65, 95);
}

.header-img {
  width: 40%;
}

.header-text {
  width: 40%;
  padding-top: 4rem;
}

.title {
  background-color: rgb(36, 129, 167);
  padding: 0.2rem;
  padding-left: 2rem;
  color: #fff;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
}

.body-list {
  flex-wrap: wrap;
  margin: auto;
  background-color: rgb(99, 185, 219);
}

.body-item {
  width: calc(50% - 2px);
  height: 11rem;
  border: 1px solid rgb(187, 186, 186);
}

.body-item:nth-child(even) {
  background-color: rgb(122, 194, 223);
}

.stats-list-item a {
  color: #fff;
  text-decoration: none;
}

.stats-list-item a:hover {
  color: yellow;
  text-decoration: none;
}

.body-item-txt {
  position: relative;
  top: 1rem;
  text-align: right;
  margin-right: 1rem;
  color: rgb(61, 61, 97);
  letter-spacing: -1.2px;
  text-transform: uppercase;
}

.body-item-txt a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.home-cases {
  margin-top: 0.1rem;
}

.flag {
  width: 6rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.flag img {
  width: 100%;
  filter: drop-shadow(8px 8px 10px green) opacity(80%);
}

.stats-list {
  background-color: rgb(101, 191, 226);
  color: #fff;
}

.stats-list-item {
  padding: 1rem 1rem;
  justify-content: space-between;
}

.stats-list-item:nth-child(even) {
  background-color: rgb(57, 166, 209);
}
